  <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
        <h3 class="w3-bar-item">Menu</h3>
         <a href="/admin" class="w3-bar-item w3-button">Dashboard</a>     
        <a href="/admin/companies" class="w3-bar-item w3-button">Manages Cars</a>
       
    </div>

    <!-- Page Content -->
    <div style="margin-left:20%">

    <main id="main">

         <div class="my-new-header">
            <button id="openNav" class="w3-button w3-xlarge my-hamburger-btn" onclick="w3_open()">&#9776;</button>
            <span>
                <a href="/admin" class="navbar-logo-link">JCPS</a> 
            </span>
            <div class="navbar-userpart">
                <span class="navbar-userpart-username">Welcome, Admin | </span> <span><a href="">logout</a></span>
            </div>
        </div>
        
        <!-- breadcrumbs at top of the page -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/companies">Companies</a></li>
                <li class="breadcrumb-item" aria-current="page">Models</li>
            </ol>
        </nav>    
        <div class="container-95">
        <form action="/admin/addModel/{{company._id}}" method="post" class="my-form">
            <div class="my-form-heading">
                <h5>Add New Model</h5>
            </div>
            <div class="container-95">                
                <div class="row my-form-row">
                    <h6>Enter New Model</h6>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="model_name">Model</label>                                    
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="model" id="model_name">                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-submit-div">
                    <input type="submit" name="submit" id="submit" class="btn btn-secondary btn-sm" value="Add">
                </div>
            </div>                                   
        </form>
                
        <!-- dashboard -->
        <div class="my-dashboard">
            <div class="my-dashboard-header">
                <center>
                    <h4>Models</h4>
                </center>
            </div>
            <div class="my-dashboard-content mt-3">
                <div class="row">
                	{{#each models}}
                        <div class="col-md-4">
                            <!-- whole card is given as a link, so give href in the below anchor tag -->
                            <a href="/admin/varients/{{this._id}}" class="my-dashboard-box-link">
                                <div class="my-dashboard-box">
                                    <div class="my-dashboard-box-header">
                                        <h6>{{this.name}} <i class="fa fa-car"></i></h6>
                                    </div>
                                    <div class="my-dashboard-box-content">
                                        <div class="row">
                                            <div class="col-md-12">View varients of {{this.name}}</div>                                        
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
			        {{/each}}                                       
                </div>
            </div>
        </div>
        </div>
        

    </div>
