

<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.theThe Honest AutoMobiles.in/about.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jun 2019 09:49:21 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /><title>
    Car Care Services, Auto Care, Car Maintenance Services in Ahemadabad
</title><meta name="description" content="The Honest AutoMobiles provides hassle free auto car care services in Delhi which is available 24X7. It includes regular car servicing, car ac repair, car maintenance service. Book your appointment!" />
    </title><meta name="keywords" content="car care services, auto care services, car maintenance services in Delhi, car ac repair in delhi, emergency car repair, major car repair, regular car service" /><link rel="canonical" href="/aboutUs" /><meta name="author" content="The Honest AutoMobiles" /><link rel="shortcut icon" href="/images/website/favicon.ico" /><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" /><link href="/stylesheets/website/css.css" rel="stylesheet" /><link rel="stylesheet" href="/stylesheets/website/style.css" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "http://v2.zopim.com/?3lPh0xIP9BTIZrWPwWkhfxPlD7K2h1Vu"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <style>
        .noo-page-heading.Book-Appointment {
            height: 200px !important;
        }

        .noo-page-heading-Appointment {
            height: 100px !important;
        }

            .noo-page-heading-Appointment .page-title {
                /*top: 35% !important;*/
                padding-top: 30px !important;
                position: relative;
            }

        .loading {
            background-color: #000000;
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999 !important;
            margin-top: 0px;
            top: 0px;
            left: 0px !important;
        }

        .loading-center {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .loading-center-absolute {
            position: absolute;
            left: 50%;
            top: 40%;
            height: 50px;
            width: 150px;
            margin-top: -25px;
            margin-left: -75px;
        }

        .loader1 {
            font-size: 20px;
            margin: 100px auto;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: relative;
            text-indent: -9999em;
            -webkit-animation: load4 1.3s infinite linear;
            animation: load4 1.3s infinite linear;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        .center {
            position: fixed;
            top: 50%;
            right: 0px;
            width: 100px;
            height: 0px;
            text-align: right;
            z-index: 9999;
            margin-top: -15px;
        }

            .center a {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                display: block;
                background: #fff000;
                text-align: center;
                height: 40px;
                width: 165px;
                padding: 10px;
                color: #000;
                font-family: Arial, sans-serif;
                font-size: 17px;
                font-weight: bold;
                text-decoration: none;
                border-bottom: solid 1px #333;
                border-left: solid 1px #333;
                border-right: solid 1px #fff;
            }

                .center a:hover {
                    background: #1e4080;
                    color: #fff;
                }
    </style>
    <link href="/stylesheets/website/res.css" rel="stylesheet" />
    <!--End of Zopim Live Chat Script-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82404263-1', 'auto');
        ga('send', 'pageview');

</script>
<link href='WebResource2f63.css?d=BMkFk4qV3-P3J1Dsg3Y52t7yhynOUXT6I5OdruJlsp0ErLub8AS4XOJtE3-nIIHxabF5OslROpEzzJVzEdzypA6Iek_bk4yJTOHyIA0uO12O1p7XYYv5WtBP2x3Ty8L5RumUKiwZSQeNfD4AQY79HSJzt3lJEvpqRm3OnSEcxdqhrFxP0&amp;t=636018458902192000' rel='stylesheet' type='text/css' /></head>
<body>
    <form method="post" action="http://www.theThe Honest AutoMobiles.in/about.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="frmAccount">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="I3yAIBRkqL+tamVALerlYNV1bHTu/A6p/yOw9cLeftN/ceyeVdMFxPCqTnlzK44Anbl3tmRvplLl2cHJnNTaVxl7z7Okn5E9VveRzeWrbv5yxSA+2kr2X3LlSjTrpbAZ8Iryug==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['frmAccount'];
if (!theForm) {
    theForm = document.frmAccount;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/javascripts/website/WebResourceb546.js?d=pynGkmcFUV13He1Qd6_TZBKBfcK-W6nlpIPKl3D19NVjgiAzSL3HP_22ebaEM7v9aV4pow2&amp;t=635803002500000000" type="text/javascript"></script>


<script src="/javascripts/website/ScriptResource0fb6.js?d=nv7asgRUU0tRmHNR2D6t1J5G1_AIzoc7mwUioMpUuhVT3PD0aznbike5Do3c3w365HemfQctSqAXMBSApTls0MDEo-M5stwGXqGlEqy7VzH1LtGbRa0eTC9EDsmQ8OI2XuPF1Q2&amp;t=ffffffffd1fec354" type="text/javascript"></script>
<script src="/javascripts/website/ScriptResourceb65d.js?d=yeSNAJTOPtPimTGCAo3LlU27Yxu-92Fjonrzn87OzVYMGdwA4piIXn557ODHXPIKs_NqwwmOdHIW36UBqxyBOHKPwm367eJN_wpGoym1oAXUVsGB0&amp;t=7f16157c" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="/javascripts/website/ScriptResourceee96.js?d=DT3YJR8QaqV61-teuz0hgmsNE2NhIJVV8Nv4LgK-4RX3KGGEYslXxIeSBd0UuBYFsxFs9eSRp5DDld_3DPYMt9H6eT8aQA_uBUPje7qx_5A7bAvUT0S4gwMHpGSe0fo6u22Hig2&amp;t=7f16157c" type="text/javascript"></script>
<script src="WebResourcef4ed.axd?d=KOD6NI2YOWkZ3qlSvNU1cBdlRDebH4xjrWtw3alKmooCJeWDcVsHpk-mb4ZzoheJ4p36mkrAswlgsmFPLcfWJPq2-LvzuHTtbwO-6I23Mkyx4deMoxZ5kdwnHFbZBUf1r_6nLacPSolTVrpp6BGYgtjF8XE1&amp;t=636018458902192000" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="E809BCA5" />
    <input type="hidden" name="__PREVIOUSPAGE" id="__PREVIOUSPAGE" value="rgeO1dVyOr9DfujtTm9CiczcVPREfsgE9jCAGkCcSTkyXq-Fq-adQlecpDDUl6ai1QHV2w2" />
    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="Qzfdg8iQbUu5o6HdVhF8dzrzGNWoKDu+sZhAw9HF7SXXjkt3zD2p9Ahk35JSBEScjSZ/DW/jUpAxDNBXAaIPIjkr63sxak0XlB4iVgYEC2reyom2A88iI3cCDSU48bF9g9V9+k1jws3rSLjYpyghUbceg2A=" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('smAccount', 'frmAccount', ['tupnlSubscribe','upnlSubscribe'], [], [], 90, '');
//]]>
</script>

       <!--  <div class="center">
            <a href="login.html">Book Service</a>
        </div> -->
        {{!-- <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="loader">
                        Loading...
                    </div>
                </div>
            </div>
        </div> --}}
        <div class="site">
            <header class="noo-header header-default">
                <div class="navbar-wrapper">
                    <div class="navbar navbar-default">
                        <div class="noo-topbar">
                            <div class="container">
                                
                                <ul class="pull-right">
                                    <li>
                                        <a href="tel:+919210025800" class="small-highlight">
                                            <i class="fa fa-mobile" style="font-size:18px"></i>
                                            +91 99244 50123
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="noo-nav-header4">
                            <div class="container">
                                <div class="noo-nav-wrap">
                                    <div class="navbar-header pull-left">
                                        <h1 class="sr-only">The Honest AutoMobiles</h1>
                                        <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu" type="button">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a href="index-2.html" class="navbar-brand">
                                            <img class="noo-logo-img noo-logo-normal" src="/images/website/The Honest AutoMobiles-logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- / .nav-header -->
                                    <nav class="pull-right noo-main-menu">
                                        <ul class="nav-collapse navbar-nav" style="display:inline-block;">
                                            <li class="">
                                                <a href="/">Home</a>
                                            </li>
                                            <li class="current-menu-item">
                                                <a href="/aboutUs">About Us</a>
                                            </li>
                                            <li class="">
                                                <a href="/services">Services</a>
                                            </li>
                                            <li class="">
                                                <a href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="noo-page-heading">
            </section>
            <section class="noo-page-heading-Appointment">
                <div class="container">
                    <h1 class="page-title">About us</h1>
                </div>
            </section>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row row-fluid pt-5 pb-10">
                        <div class="col-sm-12">
                            <div class="noo-customform">
                                <div class="container">
                                    <p class="medium-text mb-2">
                                        The Honest AutoMobiles has emerged with solution of all car care services which is available
                                    24X7 just a click away. The system includes regular car service, major car repair,
                                    washing &amp; detailing or any kind of emergency car repair. 
                                    </p>
                                    <p class="medium-text mb-2">
                                        We provide service to car owners and service providers through our tech-enabled
                                    mobile app &amp; website. It’s a ONE STOP solution for all the car owners who have
                                    at some point experienced the anguish because of the lack of transparency and up
                                    selling by your car service provider. The idea here is to make the whole experience
                                    of owning a car more beautiful!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-fluid">
                       <!--  <div class="col-sm-12">
                            <div class="noo-newsltter">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3 class="title-newsltter">newsletter</h3>
                                            <p class="subscribe-text">
                                                Subscribe to our monthly newsletter
                                            </p>
                                        </div>
                                        <div class="col-md-8">
                                            <div id="upnlSubscribe">
    
                                                    <div class="noo-newsltter-form">
                                                        <input name="txtEmailSubscribe" type="text" id="txtEmailSubscribe" class="mc-email" placeholder="Enter your email here" />
                                                        <span id="rfvEmailSubscribe" style="display:none;"></span>
                                                        <span id="revEmail" style="display:none;"></span>
                                                        <input type="submit" name="btnSubscribe" value="Subscribe" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnSubscribe&quot;, &quot;&quot;, true, &quot;Subscribe&quot;, &quot;&quot;, false, false))" id="btnSubscribe" />
                                                        <div id="vsSubscribe" class="form-control" style="display:none;">

    </div>
                                                    </div>
                                                
</div>
                                        </div>
                        -->             </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="wrap-footer">
                <!--Start footer widget-->
                <div class="colophon wigetized">
                    <div class="container">
                        <div class="row">
                            <div>
                                <!-- <div class="widget widget_noo_infomation">
                                    <div class="social-all">
                                        <span>Follow us</span>
                                        <a href="https://www.facebook.com/theThe Honest AutoMobilesindia" target="_blank" class="fa fa-facebook"></a>
                                        <a href="https://twitter.com/The_The Honest AutoMobiles" target="_blank" class="fa fa-twitter"></a>
                                        <a href="https://www.linkedin.com/company/The Honest AutoMobiles-vehicle-services-pvt-ltd" target="_blank" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="noo-info-top">
                                        <a href="index.html">
                                            <img src="images/The Honest AutoMobiles-logo-footer.png" alt="The Honest AutoMobiles">
                                        </a>
                                        <p>
                                            The Honest AutoMobiles acts as a bridge between car owners and automobile service stations, our mechanics thorougly assess the service aspects and help you in cutting down any extra service costs that you might incur due to lack of knowledge.

                                        </p>
                                    </div>
                                    <ul class="noo-infomation-attr">
                                        <li>
                                            <span class="fa fa-map-marker infomation-left"></span>
                                            <address>
                                                45 Corner Market,
                                                <br />
                                                Malviya Nagar, 110017
                                            </address>
                                        </li>
                                        <li>
                                            <span class="fa fa-phone infomation-left"></span>
                                            
                                            <span>+91 </span>
                                        </li>
                                        <li>
                                            <span class="fa fa-envelope infomation-left"></span>
                                            <span class="phone-text">info@theThe Honest AutoMobiles.in</span>
                                        </li>
                                        <li>
                                            <span class="fa fa-globe infomation-left"></span>
                                            <span>www.theThe Honest AutoMobiles.in</span>
                                        </li>
                                    </ul>
                                    <div class="noo-info-footer">
                                        &copy; 2016 The Honest AutoMobiles.                                        
                                    </div>
                                </div> -->
                            </div>
                            <div class="container">
                                <div class="container">
                        <div class="row"> 
                                                   
                            <div class="col-md-6">
                                <div class="widget widget_noo_services" style="width: 100%;">
                                    <h4 class="widget-title">What we Do</h4>
                                    <ul>
                                        <li><a href="/services">Wiper Blade Installation</a></li>
                                        <li><a href="/services">Suspension Repair</a></li>
                                        <li><a href="/services">Packaged Car service</a></li>
                                        <li><a href="/services">Wheel Alignment</a></li>
                                        <li><a href="/services">Steering and Suspension</a></li>
                                        <li><a href="/services">Headlight Restoration</a></li>
                                        <li><a href="/services">Car Batteries</a></li>
                                        <li><a href="/services">Oil Changes</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget widget_noo_services" style="width: 100%;">
                                    <h4 class="widget-title">Quick Links</h4>
                                    <ul>
                                        <li><a href="/terms">Terms of Use</a></li>
                                        <li><a href="/aboutUs">About Us</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                            </div>
                    </div>
                </div>
            </div>
                </div>
            </footer>
        </div>
        <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>
        <script type="text/javascript" src="/javascripts/website/plugins.js"></script>
        <script type="text/javascript" src="/javascripts/website/account.html"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // Handler for .ready() called.
                //$('html, body').animate({
                //    scrollTop: $('#stepDiv').offset().top
                //}, 'slow');
            });
        </script>
        <script type="text/javascript">

            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
            function EndRequestHandler(sender, args) {
                if (args.get_error() == undefined) {
                    Jget();
                }
            }
            function Jget() {
                $(document).ready(function () {

                });
            }
            Jget();

            function alterMsg(msgType, msg, tital) {
                toastr[msgType](msg, tital);
            }
            function alterMsgStepNav(msgType, msg, tital, step) {
                toastr[msgType](msg, tital);
                StepNav(step);
            }
        </script>
        
        <div id="pnlLoading" style="display: none;">
    
            <div class="loading">
                <div class="loading-center">
                    <div class="loading-center-absolute">
                        <div class="loader">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        
</div>
    
<script type="text/javascript">
//<![CDATA[
var Page_ValidationSummaries =  new Array(document.getElementById("vsSubscribe"));
var Page_Validators =  new Array(document.getElementById("rfvEmailSubscribe"), document.getElementById("revEmail"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var rfvEmailSubscribe = document.all ? document.all["rfvEmailSubscribe"] : document.getElementById("rfvEmailSubscribe");
rfvEmailSubscribe.controltovalidate = "txtEmailSubscribe";
rfvEmailSubscribe.errormessage = "Email ID is Required.";
rfvEmailSubscribe.display = "None";
rfvEmailSubscribe.validationGroup = "Subscribe";
rfvEmailSubscribe.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvEmailSubscribe.initialvalue = "";
var revEmail = document.all ? document.all["revEmail"] : document.getElementById("revEmail");
revEmail.controltovalidate = "txtEmailSubscribe";
revEmail.focusOnError = "t";
revEmail.errormessage = "Enter Valid Email Id.";
revEmail.display = "None";
revEmail.validationGroup = "Subscribe";
revEmail.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
revEmail.validationexpression = "\\w+([-+.\']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*";
var vsSubscribe = document.all ? document.all["vsSubscribe"] : document.getElementById("vsSubscribe");
vsSubscribe.showmessagebox = "True";
vsSubscribe.showsummary = "False";
vsSubscribe.validationGroup = "Subscribe";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
(function(id) {
    var e = document.getElementById(id);
    if (e) {
        e.dispose = function() {
            Array.remove(Page_ValidationSummaries, document.getElementById(id));
        }
        e = null;
    }
})('vsSubscribe');

document.getElementById('rfvEmailSubscribe').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvEmailSubscribe'));
}

document.getElementById('revEmail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('revEmail'));
}
Sys.Application.add_init(function() {
    $create(AspNetResources.CenteredProgressIndicator, null, null, null, $get("pnlLoading"));
});
//]]>
</script>
</form>
</body>

<!-- Mirrored from www.theThe Honest AutoMobiles.in/about.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jun 2019 09:49:22 GMT -->
</html>
