

<!doctype html>
<html lang="en-US">

<!-- Mirrored from www.theThe Honest AutoMobiles.in/contact.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jun 2019 09:50:54 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" /><title>
    The Honest AutoMobiles | Contact
</title><link rel="canonical" href="/contact" /><meta name="author" content="The Honest AutoMobiles" /><link rel="shortcut icon" href="/images/website/favicon.ico" /><link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css" /><link href="/stylesheets/website/css.css" rel="stylesheet" /><link rel="stylesheet" href="/stylesheets/website/style.css" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "http://v2.zopim.com/?3lPh0xIP9BTIZrWPwWkhfxPlD7K2h1Vu"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <style>
        .noo-page-heading.Book-Appointment {
            height: 200px !important;
        }

        .noo-page-heading-Appointment {
            height: 100px !important;
        }

            .noo-page-heading-Appointment .page-title {
                /*top: 35% !important;*/
                padding-top: 30px !important;
                position: relative;
            }

        .loading {
            background-color: #000000;
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 9999 !important;
            margin-top: 0px;
            top: 0px;
            left: 0px !important;
        }

        .loading-center {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .loading-center-absolute {
            position: absolute;
            left: 50%;
            top: 40%;
            height: 50px;
            width: 150px;
            margin-top: -25px;
            margin-left: -75px;
        }

        .loader1 {
            font-size: 20px;
            margin: 100px auto;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            position: relative;
            text-indent: -9999em;
            -webkit-animation: load4 1.3s infinite linear;
            animation: load4 1.3s infinite linear;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        .center {
            position: fixed;
            top: 50%;
            right: 0px;
            width: 100px;
            height: 0px;
            text-align: right;
            z-index: 9999;
            margin-top: -15px;
        }

            .center a {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                display: block;
                background: #fff000;
                text-align: center;
                height: 40px;
                width: 165px;
                padding: 10px;
                color: #000;
                font-family: Arial, sans-serif;
                font-size: 17px;
                font-weight: bold;
                text-decoration: none;
                border-bottom: solid 1px #333;
                border-left: solid 1px #333;
                border-right: solid 1px #fff;
            }

                .center a:hover {
                    background: #1e4080;
                    color: #fff;
                }
    </style>
    <link href="/stylesheets/website/res.css" rel="stylesheet" />
    <!--End of Zopim Live Chat Script-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '../www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-82404263-1', 'auto');
        ga('send', 'pageview');

</script>
<link href='/stylesheets/website/WebResource2f63.css?d=BMkFk4qV3-P3J1Dsg3Y52t7yhynOUXT6I5OdruJlsp0ErLub8AS4XOJtE3-nIIHxabF5OslROpEzzJVzEdzypA6Iek_bk4yJTOHyIA0uO12O1p7XYYv5WtBP2x3Ty8L5RumUKiwZSQeNfD4AQY79HSJzt3lJEvpqRm3OnSEcxdqhrFxP0&amp;t=636018458902192000' rel='stylesheet' type='text/css' /></head>
<body>
    <form method="post" action="http://www.theThe Honest AutoMobiles.in/contact.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="frmAccount">
<div class="aspNetHidden">
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="GJGCiPIr73bvr5Mm1eFrI2LnwPAROiSef7qPXHkZle5Ovn2vAhFLcHjB+1P2+G4Pq/NJ9tEgn83Iob2ZsxZ4hiGkds4G1drmSsY35B9leQXPbh+rKFTjCX8YxIKsKjmWH1UA7R9b3C8bQAEF/SJZrrnWPMabXy7BjzScOFUvrFHSR5x380bLhyKQVr8OTvV8/YfWwArL+Wks5yjbBUpSjRnphKE66DRaBjIAUqLm0IxI0ELK8W7IXsmGVc4IbT8MyPMA6dS1ICMweYE20O7OPuSCyTW2r/VbaGkeDuhl78sUPpmGvaOGUBOiUtEq03ilpc4KDTqO/Pm5WnS81LGvjj/ZknlRqO4GWfRUK18HrAf2/Un8kiQbpnYxx61Wbi68oRyErfBSz2T03daCezz1ZrcLvMJx0ogiX7+QM3rtipoKsacYn7IZDyaiK5sFIPWbzkZL+teBtIZBf+KmwqBLS3BVoco=" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['frmAccount'];
if (!theForm) {
    theForm = document.frmAccount;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/javascripts/website/WebResourceb546.js?d=pynGkmcFUV13He1Qd6_TZBKBfcK-W6nlpIPKl3D19NVjgiAzSL3HP_22ebaEM7v9aV4pow2&amp;t=635803002500000000" type="text/javascript"></script>


<script src="/javascripts/website/ScriptResource0fb6.js?d=nv7asgRUU0tRmHNR2D6t1J5G1_AIzoc7mwUioMpUuhVT3PD0aznbike5Do3c3w365HemfQctSqAXMBSApTls0MDEo-M5stwGXqGlEqy7VzH1LtGbRa0eTC9EDsmQ8OI2XuPF1Q2&amp;t=ffffffffd1fec354" type="text/javascript"></script>
<script src="/javascripts/website/ScriptResourceb65d.js?d=yeSNAJTOPtPimTGCAo3LlU27Yxu-92Fjonrzn87OzVYMGdwA4piIXn557ODHXPIKs_NqwwmOdHIW36UBqxyBOHKPwm367eJN_wpGoym1oAXUVsGB0&amp;t=7f16157c" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
//]]>
</script>

<script src="/javascripts/website/ScriptResourceee96.js?d=DT3YJR8QaqV61-teuz0hgmsNE2NhIJVV8Nv4LgK-4RX3KGGEYslXxIeSBd0UuBYFsxFs9eSRp5DDld_3DPYMt9H6eT8aQA_uBUPje7qx_5A7bAvUT0S4gwMHpGSe0fo6u22Hig2&amp;t=7f16157c" type="text/javascript"></script>
<script src="ScriptResourcef036.axd?d=HmPHS4c8DJOsyehLgTYT9LG4hwnxfInDh4rwbSpNhbqKxb2dR2KGBAvbpPJ_diHtnaK9i2RaFd-pYNFDL2yF0ku1VwDiWgvq0u7lY2Eb98D1CMTF0&amp;t=7f16157c" type="text/javascript"></script>
<script src="ScriptResourcee31d.axd?d=4_gab3U6BZ-MxaDo3nzgHk5vHRPVZsGNySfFiPvBGOkX0nJ0DTquARt3vFl4NuelYSv7NJ_jJ0I0mqu84Itxkfy898kkwVuAcATdxHrgpCmCi4d4zy-B9IzMesLE1BJsFNchdg2&amp;t=7f16157c" type="text/javascript"></script>
<script src="ScriptResourcea43d.axd?d=EREHMHr_2F-1pFDTczQgRNLXrFzdhZMlGCR-HSNyCgeu75A9GgQtVSN9MhpzfMrIFTBJKEshKGzFgBsxO6cb9ZdgzomiTUQ_JyGTMNZmui7kSGr065h6pd03e0ujRnbZOw1W7EYjd9ZMhMiLPO0DQ-ZvEoo1&amp;t=7f16157c" type="text/javascript"></script>
<script src="WebResourcef4ed.axd?d=KOD6NI2YOWkZ3qlSvNU1cBdlRDebH4xjrWtw3alKmooCJeWDcVsHpk-mb4ZzoheJ4p36mkrAswlgsmFPLcfWJPq2-LvzuHTtbwO-6I23Mkyx4deMoxZ5kdwnHFbZBUf1r_6nLacPSolTVrpp6BGYgtjF8XE1&amp;t=636018458902192000" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div class="aspNetHidden">

    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="CD2448B2" />
    <input type="hidden" name="__PREVIOUSPAGE" id="__PREVIOUSPAGE" value="Gg1M2GD96RAXcV6dNZmXGgJqcj973paWLf1xdpqLlZ_DLZgPU5PrrRaEMe90u7_HUOdrMQ2" />
    <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="94aosyfh74n84gLlSXkdIOa/v7mGvakd7SRzKnfvuOSwCyDqPOpFeTreLhr8VUjYRLn7aZyvaKCEe60fJKzh8fcY5mSew9MkCS1VNajEqi9CExksYwl/tvIo0r5mCv/CaGps0Hd8hr/g5CafPwuJYb9O2K57LUF2vBWhKgLdHPhYzL9uQLiZL/n98lEmS3e0g3imKh0QhKFvrD6zThSmNojxVSTdywAa5pqwzn2yVflMYA80yZ14CKj3RriBLCJnqqBynQk+9nDRp3AYdUXogkTqlx+RKfiaC7k9x33psJEZpLduRBJYDcUkB+KDx2gdH2DJBv2qYgmZXbcyZowGmqwrTsM=" />
</div>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('smContact', 'frmAccount', ['tupnlContact','upnlContact','tupnlSubscribe','upnlSubscribe'], [], [], 90, '');
//]]>
</script>

        
       
        <div class="site">
            <header class="noo-header header-default">
                <div class="navbar-wrapper">
                    <div class="navbar navbar-default">
                        <div class="noo-topbar">
                            <div class="container">
                                
                                <ul class="pull-right">
                                    <li>
                                        <a href="tel:+919210025800" class="small-highlight">
                                            <i class="fa fa-mobile" style="font-size:18px"></i>
                                            +91 99244 50123
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="noo-nav-header4">
                            <div class="container">
                                <div class="noo-nav-wrap">
                                    <div class="navbar-header pull-left">
                                        <h1 class="sr-only"> Honest AutoMobiles</h1>
                                        <button data-target=".nav-collapse" class="btn-navbar noo_icon_menu" type="button">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <a href="index-2.html" class="navbar-brand">
                                            <img class="noo-logo-img noo-logo-normal" src="images/The Honest AutoMobiles-logo.png" alt="">
                                        </a>
                                    </div>
                                    <!-- / .nav-header -->
                                    <nav class="pull-right noo-main-menu">
                                        <ul class="nav-collapse navbar-nav" style="display:inline-block">
                                            <li class="">
                                                <a href="/">Home</a>
                                            </li>
                                            <li class="">
                                                <a href="/aboutUs">About Us</a>
                                            </li>
                                            <li class="">
                                                <a href="/services">Services</a>
                                            </li>
                                            <li class="current-menu-item">
                                                <a href="/contact">Contact</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="noo-page-heading Book-Appointment ">
                <!-- /.container-boxed -->
            </section>
            <section class="noo-page-heading-Appointment">
                <div class="container">
                    <h1 class="page-title">Contact</h1>
                </div>
                <!-- /.container-boxed -->
            </section>
            <div class="main-content  pt-5">
                <div class="container-fluid">
                    <div class="row row-fluid mtn-2">
                        <div class="col-sm-12">
                            <div class="noo-customform">
                                <div class="container">
                                    <div class="book-form">
                                        <div class="book-content-style2">
                                            <h2 class="book-title">drop your message</h2>
                                            <div id="upnlContact">
    
                                                    <div class="noo-form">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="wpcf7-form-control-wrap">
                                                                    <input name="txtName" type="text" id="txtName" class="wpcf7-form-control" placeholder="Name" />
                                                                    <span id="rfvName" style="display:none;"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="wpcf7-form-control-wrap">
                                                                    <input name="txtEmail" type="text" id="txtEmail" class="wpcf7-form-control" placeholder="Email" />
                                                                    <span id="rfvEmail" style="display:none;"></span>
                                                                    <span id="revEmail" style="display:none;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="wpcf7-form-control-wrap">
                                                                    <input name="txtPhone" type="text" id="txtPhone" class="wpcf7-form-control" placeholder="Phone number" />
                                                                    
                                                                    <span id="rfvPhone" style="display:none;"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="wpcf7-form-control-wrap">
                                                                    <select name="ddlstRequestFor" id="ddlstRequestFor">
        <option value="0">--Select--</option>
        <option value="Complaints and Suggestions">Complaints and Suggestions</option>
        <option value="Payment Issue">Payment Issue</option>
        <option value="General Enquiry">General Enquiry</option>

    </select>
                                                                    <span id="rfvddlstRequestFor" style="display:none;"></span>

                                                                    
                                                                    <span id="rfvRequestFor" style="display:none;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="noo-contact-content">
                                                            <div class="wpcf7-form-control-wrap">
                                                                <textarea name="txtMessage" rows="10" cols="40" id="txtMessage" class="wpcf7-form-control" placeholder="Message">
</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="book-form-submit">
                                                            <input type="submit" name="btnSendMail" value="Send Mail" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnSendMail&quot;, &quot;&quot;, true, &quot;Contact&quot;, &quot;&quot;, false, false))" id="btnSendMail" class="wpcf7-form-control" />
                                                            <div id="vsContact" style="display:none;">

    </div>
                                                        </div>
                                                    </div>
                                                
</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-fluid pt-7 pb-11">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-4 address-block">
                                        <h4 class="title">CALL US NOW AT:</h4>
                                        <div class="icon">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <p style="margin-top: 35px;" class="text">
                                            
                                            +91 99244 50123<br />
                                        </p>
                                    </div>
                                    <div class="col-sm-4 address-block">
                                        <h4>EMAIL US AT:</h4>
                                        <div class="icon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <p style="margin-top: 35px;" class="text">
                                           honestautomobiles@gmail.com<br>
                                        </p>
                                    </div>
                                    <div class="col-sm-4 address-block">
                                        <h4>MEET US AT:</h4>
                                        <div class="icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <p class="text">
                                           Opp.jilla seksan kendra
                                        <br>
                                          Gota
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-fluid">
                        <div class="col-sm-12">
                            <!-- <div class="noo-newsltter">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h3 class="title-newsltter">newsletter</h3>
                                            <p class="subscribe-text">
                                                Subscribe to our monthly newsletter
                                            </p>
                                        </div>
                                        <div class="col-md-8">
                                            <div id="upnlSubscribe">
    
                                                    <div class="noo-newsltter-form">
                                                        <input name="txtEmailSubscribe" type="text" id="txtEmailSubscribe" class="mc-email" placeholder="Enter your email here" />
                                                        <span id="rfvEmailSubscribe" style="display:none;"></span>
                                                        <span id="RegularExpressionValidator1" style="display:none;"></span>
                                                        <input type="submit" name="btnSubscribe" value="Subscribe" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnSubscribe&quot;, &quot;&quot;, true, &quot;Subscribe&quot;, &quot;&quot;, false, false))" id="btnSubscribe" />
                                                        <div id="vsSubscribe" class="form-control" style="display:none;">

    </div>
                                                    </div>
                                                
</div>
 -->                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.main -->
            <footer class="wrap-footer">
                <!--Start footer widget-->
                <div class="colophon wigetized">
                    <div class="container">
                        <div class="row"> 
                                                   
                            <div class="col-md-3">
                                <div class="widget widget_noo_services" style="width: 100%;">
                                    <h4 class="widget-title">What we Do</h4>
                                    <ul>
                                        <li><a href="/services">Wiper Blade Installation</a></li>
                                        <li><a href="/services">Suspension Repair</a></li>
                                        <li><a href="/services">Packaged Car service</a></li>
                                        <li><a href="/services">Wheel Alignment</a></li>
                                        <li><a href="/services">Steering and Suspension</a></li>
                                        <li><a href="/services">Headlight Restoration</a></li>
                                        <li><a href="/services">Car Batteries</a></li>
                                        <li><a href="/services">Oil Changes</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget widget_noo_services" style="width: 100%;">
                                    <h4 class="widget-title">Quick Links</h4>
                                    <ul>
                                        <li><a href="/terms">Terms of Use</a></li>
                                        <li><a href="/aboutUs">About Us</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="map-container">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117425.38540946119!2d72.55881666623544!3d23.113808669599397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e82d618e8dcf7%3A0x7012541462c9a880!2sHONEST+AUTOMOBILES+CAR+SERVICE+CENTRE!5e0!3m2!1sen!2sin!4v1559295646905!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <address>
                                        <strong>HONEST AUTOMOBILES</strong>
                                        <a href="mailto:office@companyname.com">office@companyname.com</a> <br>
                                        <span>Gota</span>
                                        <a href="tel:+919924450123">+91 99244 50123</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
                <!--End footer widget-->
            </footer>
        </div>
        <a href="#" class="go-to-top hidden-print"><i class="fa fa-angle-up"></i></a>
        <script type="text/javascript" src="/javascripts/website/plugins.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // Handler for .ready() called.
                //$('html, body').animate({
                //    scrollTop: $('#stepDiv').offset().top
                //}, 'slow');
            });
        </script>
        <script type="text/javascript">

            Sys.WebForms.PageRequestManager.getInstance().add_endRequest(EndRequestHandler);
            function EndRequestHandler(sender, args) {
                if (args.get_error() == undefined) {
                    Jget();
                }
            }
            function Jget() {
                $(document).ready(function () {

                });
            }
            Jget();

            function alterMsg(msgType, msg, tital) {
                toastr[msgType](msg, tital);
            }
            function alterMsgStepNav(msgType, msg, tital, step) {
                toastr[msgType](msg, tital);
                StepNav(step);
            }
        </script>
        
        <div id="pnlLoading" style="display: none;">
    
            <div class="loading">
                <div class="loading-center">
                    <div class="loading-center-absolute">
                        <div class="loader">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
        
</div>
    
<script type="text/javascript">
//<![CDATA[
var Page_ValidationSummaries =  new Array(document.getElementById("vsContact"), document.getElementById("vsSubscribe"));
var Page_Validators =  new Array(document.getElementById("rfvName"), document.getElementById("rfvEmail"), document.getElementById("revEmail"), document.getElementById("rfvPhone"), document.getElementById("rfvddlstRequestFor"), document.getElementById("rfvRequestFor"), document.getElementById("rfvEmailSubscribe"), document.getElementById("RegularExpressionValidator1"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var rfvName = document.all ? document.all["rfvName"] : document.getElementById("rfvName");
rfvName.controltovalidate = "txtName";
rfvName.errormessage = "Name is Required.";
rfvName.display = "None";
rfvName.validationGroup = "Contact";
rfvName.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvName.initialvalue = "";
var rfvEmail = document.all ? document.all["rfvEmail"] : document.getElementById("rfvEmail");
rfvEmail.controltovalidate = "txtEmail";
rfvEmail.errormessage = "Email ID is Required.";
rfvEmail.display = "None";
rfvEmail.validationGroup = "Contact";
rfvEmail.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvEmail.initialvalue = "";
var revEmail = document.all ? document.all["revEmail"] : document.getElementById("revEmail");
revEmail.controltovalidate = "txtEmail";
revEmail.focusOnError = "t";
revEmail.errormessage = "Enter Valid Email Id.";
revEmail.display = "None";
revEmail.validationGroup = "Contact";
revEmail.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
revEmail.validationexpression = "\\w+([-+.\']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*";
var rfvPhone = document.all ? document.all["rfvPhone"] : document.getElementById("rfvPhone");
rfvPhone.controltovalidate = "txtPhone";
rfvPhone.errormessage = "Phone is Required.";
rfvPhone.display = "None";
rfvPhone.validationGroup = "Contact";
rfvPhone.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvPhone.initialvalue = "";
var rfvddlstRequestFor = document.all ? document.all["rfvddlstRequestFor"] : document.getElementById("rfvddlstRequestFor");
rfvddlstRequestFor.controltovalidate = "ddlstRequestFor";
rfvddlstRequestFor.errormessage = "Request For is Required.";
rfvddlstRequestFor.display = "None";
rfvddlstRequestFor.validationGroup = "Contact";
rfvddlstRequestFor.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvddlstRequestFor.initialvalue = "0";
var rfvRequestFor = document.all ? document.all["rfvRequestFor"] : document.getElementById("rfvRequestFor");
rfvRequestFor.controltovalidate = "txtRequestFor";
rfvRequestFor.errormessage = "Request For is Required.";
rfvRequestFor.display = "None";
rfvRequestFor.validationGroup = "Contact";
rfvRequestFor.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvRequestFor.initialvalue = "";
var vsContact = document.all ? document.all["vsContact"] : document.getElementById("vsContact");
vsContact.showmessagebox = "True";
vsContact.showsummary = "False";
vsContact.validationGroup = "Contact";
var rfvEmailSubscribe = document.all ? document.all["rfvEmailSubscribe"] : document.getElementById("rfvEmailSubscribe");
rfvEmailSubscribe.controltovalidate = "txtEmailSubscribe";
rfvEmailSubscribe.errormessage = "Email ID is Required.";
rfvEmailSubscribe.display = "None";
rfvEmailSubscribe.validationGroup = "Subscribe";
rfvEmailSubscribe.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
rfvEmailSubscribe.initialvalue = "";
var RegularExpressionValidator1 = document.all ? document.all["RegularExpressionValidator1"] : document.getElementById("RegularExpressionValidator1");
RegularExpressionValidator1.controltovalidate = "txtEmailSubscribe";
RegularExpressionValidator1.focusOnError = "t";
RegularExpressionValidator1.errormessage = "Enter Valid Email Id.";
RegularExpressionValidator1.display = "None";
RegularExpressionValidator1.validationGroup = "Subscribe";
RegularExpressionValidator1.evaluationfunction = "RegularExpressionValidatorEvaluateIsValid";
RegularExpressionValidator1.validationexpression = "\\w+([-+.\']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*";
var vsSubscribe = document.all ? document.all["vsSubscribe"] : document.getElementById("vsSubscribe");
vsSubscribe.showmessagebox = "True";
vsSubscribe.showsummary = "False";
vsSubscribe.validationGroup = "Subscribe";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
(function(id) {
    var e = document.getElementById(id);
    if (e) {
        e.dispose = function() {
            Array.remove(Page_ValidationSummaries, document.getElementById(id));
        }
        e = null;
    }
})('vsContact');

(function(id) {
    var e = document.getElementById(id);
    if (e) {
        e.dispose = function() {
            Array.remove(Page_ValidationSummaries, document.getElementById(id));
        }
        e = null;
    }
})('vsSubscribe');

document.getElementById('rfvName').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvName'));
}

document.getElementById('rfvEmail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvEmail'));
}

document.getElementById('revEmail').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('revEmail'));
}
Sys.Application.add_init(function() {
    $create(Sys.Extended.UI.FilteredTextBoxBehavior, {"ValidChars":"0123456789","id":"ftePhone"}, null, null, $get("txtPhone"));
});

document.getElementById('rfvPhone').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvPhone'));
}

document.getElementById('rfvddlstRequestFor').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvddlstRequestFor'));
}

document.getElementById('rfvRequestFor').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvRequestFor'));
}

document.getElementById('rfvEmailSubscribe').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('rfvEmailSubscribe'));
}

document.getElementById('RegularExpressionValidator1').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('RegularExpressionValidator1'));
}
Sys.Application.add_init(function() {
    $create(AspNetResources.CenteredProgressIndicator, null, null, null, $get("pnlLoading"));
});
//]]>
</script>
</form>
</body>

<!-- Mirrored from www.theThe Honest AutoMobiles.in/contact.aspx by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 17 Jun 2019 09:50:54 GMT -->
</html>
